<div class="container">
    <h2>Search Reviews</h2>
    <form [formGroup]="CustomerReviewForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="ANSI">ANSI:</label>
          <input type="text" formControlName='ANSI' class="form-control" id="ANSI">
        </div>
        <button type="submit" class="btn btn-default">Search</button>
      </form>

      <div>
        <h1>Customers Review</h1>
        <table class="table table-striped">
           <thead>
              <tr>
                 <th>ID</th>
                 <th>Name</th>
                 <th>Subject</th>
                 <th>Rating</th>
                 <th>Comment</th>
                 <th>Date</th>
              </tr>
           </thead>
           <tbody>
              <tr *ngFor="let item of ItemsArray">
                 <th>{{ item.ansi }}</th>
                 <td>{{ item.name }}</td>
                 <td>{{ item.subject }}</td>
                 <td>{{ item.rating }}</td>
                 <td>{{ item.comment}}</td>
                 <td>{{ item.reviewDate }}</td>
              </tr>
           </tbody>
        </table>
     </div>

  </div>
  